<h1>Questions#index</h1>

<% @questions.each do |question| %>
<%= question.sequence %> - <%= question.content%> - <%= link_to "View Question/Answ", question_path(question.id) %>
<br>
<% end %>


  | <%= link_to "All Users", users_path %>

