<% provide(:title, 'About') %> 


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 header_color" style="border:1px solid"> 
      <h4 class="h3_home center_text">who has time to fill out a baby journal with a newborn? <br>with memori, you'll never miss a thing</h4>
    </div>
  </div>  

  <div class="row">
    <div class="col-xs-12 col-lg-4 about_box box1_color about_div"> 
      <h4 class="h4_home center_text"> 1. receive one text message with a new question each day</h4>
        <%= image_tag "Phone.png", class: "image_size1 center_image" %>
      <h5 class="center_text white">50 questions all about your little one, sent via text</h5>
    </div>

    <div class="col-xs-12 col-lg-4 about_box box2_color center_image about_div"> 
      <h4 class="h4_home center_text">2. answer when life gives you a breather </h4>
        <%= image_tag "girl_texting.png", class: "image_size2 center_image" %>
      <h5 class="center_text white">revise, add to, and update your answers when you have the time!</h5>
    </div>

    <div class="col-xs-12 col-lg-4 about_box box3_color center_image about_div"> 
      <h4 class="h4_home center_text">3. spend time with your family, not worrying about filling out a baby journal</h4>
        <%= image_tag "momandbaby.png", class: "image_size3 center_image" %>
      <h5 class="center_text white">with memori, your replies will be there when you're ready for them!</h5>
    </div>

  </div> 
</div>

