<% provide(:title, "Home") %> 
<div class="container-fluid">
  <div class="row home_background_color" style="height: auto; height-min: 433px">
    <div class="col-sm-12 col-lg-6 no_padding">
      <%= image_tag "baby-on-beach-2.jpg", class: "home_image" %>
    </div>
    <div class="col-sm-12 col-lg-6 position_home_text no_padding">
      <h3 class="h3_home">never miss a memory</h3>
      <hr width="60%">
      <h4 class="h4_home">make a baby journal on your time</h4>
      <h4 class="h4_home" style="padding: 0px">with just one text question per day!</h4>
      <br>
      <%= link_to "Sign Up Today!", signup_path, class: 'btn btn-primary btn_home_styling sign_up_button_margin'%> 
    </div>
  </div>
</div>
