<%= "The last message I sent is: #{@content}" %> <h1>TWILIO!!!</h1>

    <%= form_tag('/notifications/send_text_message', method: 'POST') do %>
    <input type="text" placeholder="enter number" name="number">
    <input type="text" placeholder="enter message here" name="message">
    <button type="submit">Submit</button>
    <% end %>
    